p.DUKE {color:antiquewhite; font-family: sans-serif; font-size: small;}
.MAFFIO{color:brown; font-family: sans-serif; font-size: small;}
.CARDINAL{color:blue; font-family: sans-serif; font-size: small;}
p.GUIDO{color:bisque; font-family: sans-serif; font-size: small;}
.BARDI{color:blueviolet; font-family: sans-serif; font-size: small;}
p.stage-direction:hover{color:azure; font-family: sans-serif; font-size: small;background-color:aqua;}